@page
@model MyFirstApp.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Déconnexion";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Vous avez été déconnecté de l'application.</p>
</header>
